<div class="container">
  <div class="border border-dark rounded p-2 m-4 shadow settings-wrapper">
    <div class="d-flex justify-content-end">
      <button mat-raised-button class="save-button me-2 mt-2 shadow">
        Save Changes
      </button>
    </div>
    <div class="d-flex flex-column justify-content-start m-4">
      <div class="input-group shadow mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text input-text-width" id="basic-addon3"
            >Username</span
          >
        </div>
        <input
          type="text"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>
      <div class="input-group shadow mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text input-text-width" id="basic-addon3"
            >Email</span
          >
        </div>
        <input
          type="email"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>
      <div class="input-group shadow mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text input-text-width" id="basic-addon3"
            >Current Password</span
          >
        </div>
        <input
          type="password"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>
      <div class="input-group shadow mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text input-text-width" id="basic-addon3"
            >New Password</span
          >
        </div>
        <input
          type="password"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>
      <div class="input-group shadow mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text input-text-width" id="basic-addon3"
            >Repeat New Password</span
          >
        </div>
        <input
          type="password"
          class="form-control"
          id="basic-url"
          aria-describedby="basic-addon3"
        />
      </div>
    </div>
  </div>
</div>
