<div class="d-flex flex-column p-2 navbar-wrapper">
  <div class="d-flex flex-row logo"></div>
  <p class="px-2 mt-4">Article</p>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" routerLink="/posts">All articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/news">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/discover">Discover</a>
    </li>
  </ul>

  <p class="px-2 mt-4">Profile</p>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/saved">Saved</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/settings">Settings</a>
    </li>
  </ul>

  <div class="p-2">
    <button mat-raised-button>Sign In</button>
  </div>
  <div class="p-2">
    <button mat-raised-button>Sign Up</button>
  </div>
</div>
