<div class="d-flex flex-column p-2 navbar-wrapper">
  <div class="d-flex flex-row logo" (click)="goHome()"></div>
  <p class="px-2 mt-4">Article</p>
  <ul class="nav flex-column mb-2">
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/posts']">All articles</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/news']">News</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/discover']">Discover</a>
    </li>
  </ul>

  <div *ngIf="userService.user">
    <p class="px-2 mt-4">Profile</p>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']">Your articles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/saved']">Saved</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/settings']">Settings</a>
      </li>
    </ul>
  </div>

  <div *ngIf="userService.user">
    <div class="p-2">
      <button mat-raised-button class="shadow" (click)="logout()">
        Log out
      </button>
    </div>
  </div>

  <div *ngIf="!userService.user">
    <div class="p-2">
      <button mat-raised-button class="shadow" (click)="openDialogOnSignIn()">
        Sign In
      </button>
    </div>
    <div class="p-2">
      <button mat-raised-button class="shadow" (click)="openDialogOnSignUp()">
        Sign Up
      </button>
    </div>
  </div>
</div>
