<div class="container p-2">
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Title</span>
    </div>
    <input
      [(ngModel)]="article.title"
      type="text"
      class="form-control"
      placeholder="Title"
      aria-label="Title"
      aria-describedby="basic-addon1" />
  </div>
  <div class="pb-3">
    <ckeditor [editor]="Editor" [(ngModel)]="article.content"></ckeditor>
  </div>
  <button mat-raised-button class="shadow" (click)="save()">Save</button>
</div>
