<div
  class="d-flex justify-content-center align-items-center p-2 search-bar-wrapper">
  <div class="d-flex w-25">
    <button class="btn" type="submit">
      <div class="search-icon"></div>
    </button>
    <input
      class="form-control shadow mr-sm-2"
      type="search"
      placeholder="Search"
      aria-label="Search" />
  </div>

  <div class="p-2" *ngIf="userService.user">
    <a mat-raised-button class="shadow" [routerLink]="['/create-article']"
      >Create artciel</a
    >
  </div>
</div>
